.hero-bg{
  background-image: url(./assets/lady-justice-2388500_1280.jpg);
  background-size: cover;
  background-position: ;
}

.contact-bg{
  background-image: url(./assets/istockphoto-956243400-1024x1024.jpg);
  background-size: cover;
}